<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="<%= @domain %>javascripts/timeago.min.js"></script>
  <style type="text/css">
    html, body { margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 16px;}
    .indent { margin-left: 28px; padding: 2px;}
    .small { font-size: 80%; }
    .status { padding: 3px; color: #ffffff; background-color: #62a09d; }
    .timeago { font-size: 10px; }
  </style>
  <script type="text/javascript">

    $(document).on('page:load ready', function() {
      var html = '';
      var <%= Feed.column_names_with_prefix('field').join(', ') %>;

      // get the data with a webservice call
      $.getJSON('<%= "#{@domain}channels/#{params[:channel_id]}/feed.json?callback=?&offset=0&results=10&location=true&status=true" %>', function(data) {

        // set channel field names
        <% Feed.column_names_with_prefix('field').each do |field_name| %>
        <%= raw "if (data.channel.#{field_name}) { #{field_name} = data.channel.#{field_name}; }" %>
        <% end %>

        // iterate through each feed
        $.each(data.feeds.reverse(), function() {
          if (this.location) {
            html += '<div id="entry_' + this.entry_id + '"><b>' + this.location + '</b></div>';
            <% Feed.column_names_with_prefix('field').each do |field_name| %>
            <%= raw "if (this.#{field_name}) { html += '<div class=\"indent\">' + data.channel.#{field_name} + ': ' + this.#{field_name} + '</div>'; }" %>
            <% end %>
            if (this.status) { html += '<div class="indent"><span class="status">"' + this.status + '"</span></div>'; }
            html += '<div class="indent small"><abbr class="timeago" title="' + this.created_at + '">' + this.created_at + '</abbr></div>';
            html += '<div>&nbsp;</div>';
          }
        });

        // write data to page
        $('#feed-container').html(html);

        // add timeago
        $('abbr.timeago').timeago();

        // push data every 15 seconds
        setInterval(function() {

          // get the data with a webservice call
          $.getJSON('<%= "#{@domain}channels/#{params[:channel_id]}/feed/last.json?callback=?&offset=0&location=true&status=true" %>', function(data) {
            // if data exists and entry id doesn't already exist
            if (data.location && $('#entry_' + data.entry_id).length == 0) {
              html = '<div id="entry_' + data.entry_id + '"><b>' + data.location + '</b></div>';
              <% Feed.column_names_with_prefix('field').each do |field_name| %>
              <%= raw "if (data.#{field_name}) { html += '<div class=\"indent\">' + #{field_name} + ': ' + data.#{field_name} + '</div>'; }" %>
              <% end %>
              if (data.status) { html += '<div class="indent"><span class="status">"' + data.status + '"</span></div>'; }
              html += '<div class="indent small"><abbr class="timeago" title="' + data.created_at + '">' + data.created_at + '</abbr></div>';
              html += '<div>&nbsp;</div>';

              // write data to page
              $(html).prependTo('#feed-container').hide().slideDown();

              // add timeago
              $('abbr.timeago').timeago();
            }
          });

        }, 15000);
      });

    });

  </script>
</head>
<body style='background-color: <%= params[:bgcolor] ? params[:bgcolor] : 'transparent' %>;'>
  <div id="feed-container"></div>
</body>
</html>

