<!DOCTYPE html>
<html>
<head>

  <script type="text/javascript" src="<%= @map_domain %>/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
    // when document is ready
    $(document).on('page:load ready', function() {

      // google maps options
      var myOptions = {
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      var bounds = new google.maps.LatLngBounds();
      var lat, lng, latlng, marker, title, <%= Channel.column_names_with_prefix('field').join(', ') %>;

      // get the data with a webservice call
      $.getJSON('<%= "#{@domain}channels/#{params[:channel_id]}/feed.json?callback=?&location=true&offset=0#{@qs}" %>', function(data) {
        // if no access
        if (data == '-1') {
          $('#chart-container').append('<%= t(:chart_no_access) %>');
        }

        // set channel field names
        <% Channel.column_names_with_prefix('field').each do |field_name| %>
        <%= raw("if (data.channel.#{field_name}) { #{field_name} = data.channel.#{field_name}; }") %>
        <% end %>

        // iterate through each feed
        $.each(data.feeds, function() {
          lat = parseFloat(this.latitude);
          lng = parseFloat(this.longitude);

          // if there is data to add
          if (lat && lng) {
            latlng = new google.maps.LatLng(lat, lng);
            title = '';
            <% Channel.column_names_with_prefix('field').each do |field_name| %>
            <%= raw("if (this.#{field_name}) { title += #{field_name} + ': ' + this.#{field_name} + '\\n'; }") %>
            <% end %>
            if (this.status) { title += this.status; }
            marker = new google.maps.Marker({
                position: latlng,
                title: title
              });

            marker.setMap(map);
            bounds.extend(latlng);
          }

        });

        // if no latlng set, center map
        if (latlng === undefined) {
          latlng = new google.maps.LatLng(38.5111, -96.8005);
          map.setCenter(latlng);
          map.setZoom(3);
        // if only one data point, set zoom level
        } else if (data.feeds.length == 1) {
          map.setCenter(latlng);
          map.setZoom(8);
        } else {
          // extend the bounds
          map.fitBounds(bounds);
        }

        // push data every 15 seconds
        setInterval(function() {

          // get the data with a webservice call
          $.getJSON('<%= "#{@domain}channels/#{params[:channel_id]}/feed/last.json?callback=?&location=true&offset=0#{@qs}" %>', function(data) {
            // if there is data to add
            if (data) {
              lat = parseFloat(data.latitude);
              lng = parseFloat(data.longitude);

              if (lat && lng) {
                latlng = new google.maps.LatLng(lat, lng);
                title = '';
                <% Channel.column_names_with_prefix('field').each do |field_name| %>
                <%= raw("if (data.#{field_name}) { title += #{field_name} + ': ' + data.#{field_name} + '\\n'; }") %>
                <% end %>
                if (data.status) { title += data.status; }
                marker = new google.maps.Marker({
                    position: latlng,
                    title: title
                  });

                marker.setMap(map);
              }
            }
          });

        }, 15000);

      });
    });
  </script>
</head>
<body style="padding: 0; margin: 0;">
  <div id="map_canvas" style="width: <%= params[:width] ? params[:width].to_i : @width.to_i %>px; height: <%= params[:height] ? params[:height].to_i : @height.to_i %>px;"></div>
</body>
</html>

